apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumesafe
  labels:
    app: consumesafe
spec:
  replicas: 2
  selector:
    matchLabels:
      app: consumesafe
  template:
    metadata:
      labels:
        app: consumesafe
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for mysql:3306..."
              until nc -z mysql 3306; do
                echo "mysql not ready yet..."
                sleep 2
              done
              echo "mysql is ready!"

      containers:
        - name: consumesafe
          image: consumesafe:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql:3306/consumesafe_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
            - name: SPRING_DATASOURCE_USERNAME
              value: "root"
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password

          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"

          livenessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 90
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 8081
            initialDelaySeconds: 45
            periodSeconds: 5

          # ⚠️ Important: ton image doit réellement tourner en user 1000 sinon Crash
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL