apiVersion: v1
kind: Service
metadata:
  name: consumesafe-service
spec:
  type: LoadBalancer
  selector:
    app: consumesafe
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080